<h1>Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row}}
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Customer Email</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, and email }}
        {{#each customers}}
        <tr>
            <td>{{this.customerID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
           

            {{! DELETE form }}
            <form id='delete_customer_form'>
                <input type='hidden' name='delete_customer_id' value='{{this.customerID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Person</h2>
<form class='cuForm' id='create_customer_form'>
    <label for='create_customer_name'>Name: </label>
    <input type='text' name='create_customer_name' id='create_customer_name' required />

    <label for='create_customer_email'>Email: </label>
    <input type='text' name='create_customer_email' id='create_customer_email' />

</form>

{{!UPDATE form }}
<h2>Update a Customer</h2>
<form class='cuForm' id='update_customer_form'>
    <label for='update_customer_id'>Customer to Update: </label>
    <select name='update_customer_id' id='update_customer_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.customerID}}' required>
            {{this.customerID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_customer_name'>Name: </label>
    <input type='text' name='update_customer_name' id='update_customer_name' />

    <label for='update_customer_email'>Email: </label>
    <input type='text' name='update_customer_email' id='update_customer_email' />


</form>